<div *ngIf="show">
    <section class="main-footer">
        <div class="">
            <div class="container py-lg-4">
                <div class="row pt-2">
                    <div class="col-lg-4 col-md-6 col-sm-7 pr-lg-5">
                        <div class="white-color mb-3">
                            <h2 class=" white-color"><b>Blue Cross Hospital</b></h2>
                        </div>
                        <p class=" white-color small">
                            <b> "Participating in Nation's Health With Safe, Standard and Satsifying Services"</b>
                        </p>
                        <ul class="mt-3">
                            <li><a href="tel:015319227" class="white-color"><span class="fa fa-phone"></span>
                                015319227</a></li>
                            <li><a href="mailto:care@bluecross.com.np" class="mail white-color "><span
                                        class="fa fa-envelope-open-o"></span>
                                    care@bluecross.com.np</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-4 col-4 footer-list-29 footer-3 m-1 "
                    *ngFor="let column of getColumns(); first as isFirst">
                        <h2 class="white-color" *ngIf="isFirst" ><b>Links</b></h2>
                        <h2 class="white-color" *ngIf="!isFirst" ><b>&nbsp;</b></h2>

                        <ul >

                            <li *ngFor="let x of column">
                                <a (click)="gotoPage(x.page_title)" class="white-color" style="cursor:pointer"> {{x.page_title}}</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->

    <!-- copyright -->
    <section class="main-footer bottom-footer">
        <div class="container">
            <div class="row ">
                <p class="col-lg-8 white-color">© {{year}} Medipro. All rights reserved. Design by <a
                        href="https://mediprocomputers.com/" target="_blank">
                        Medipro</a></p>

                <!-- <div class="col-lg-3 " style="color: white;">
                <i class="fa-brands fa-square-facebook" style="color:white"></i>
                <a href="#facebook" class="facebook"><i class="fa fa-facebook-square " style="color:white"></i></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div> -->

            </div>
        </div>


    </section>
</div>