<div *ngIf="show">
    <section class="main-footer">
        <div class="py-5">
            <div class="container py-lg-4">
                <div class="row ">
                    <div class="col-lg-4 col-md-6 col-sm-7 pr-lg-5">
                        <div class="white-color mb-3">
                            <h2 class=" white-color"><b>Medipro</b></h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit.</p>
                        <ul class="mt-3">
                            <li><a href="tel:+(21) 255 999 8888" class="gray-color"><span class="fa fa-phone"></span>
                                    +(21) 255 999 8888</a></li>
                            <li><a href="mailto:medick@mail.com" class="mail gray-color "><span
                                        class="fa fa-envelope-open-o"></span>
                                    medick@mail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-5 col-6  mt-sm-0 mt-5">
                        <h2 class="white-color"><b>History</b></h2>
    
                        <ul>
                            <li><a href="about.html" class="gray-color">About Us</a></li>
                            <li><a href="blog.html" class="gray-color"> Blog Posts</a></li>
                            <li><a href="services.html" class="gray-color">Departments</a></li>
                            <li><a href="#careers" class="gray-color"> Careers</a></li>
                            <li><a href="about.html" class="gray-color">Team</a></li>
                            <li><a href="contact.html" class="gray-color">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <h2 class="white-color"><b>Links</b></h2>
                        <ul>
                            <li><a href="#terms" class="gray-color">Terms of service</a></li>
                            <li><a href="#privacy" class="gray-color"> Privacy policy</a></li>
                            <li><a href="#doc" class="gray-color"> Documentation</a></li>
                            <li><a href="#support" class="gray-color"> Support</a></li>
                            <li><a href="#components" class="gray-color"> Components</a></li>
                            <li><a href="#changelog" class="gray-color"> Changelog</a></li>
                        </ul>
    
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    
    <!-- copyright -->
    <section class="main-footer bottom-footer">
        <div class="container">
            <div class="row ">
                <p class="col-lg-8 ">© 2022 Medipro. All rights reserved. Design by <a
                        href="https://mediprocomputers.com/" target="_blank">
                        Medipro</a></p>
    
                <!-- <div class="col-lg-3 " style="color: white;">
                <i class="fa-brands fa-square-facebook" style="color:white"></i>
                <a href="#facebook" class="facebook"><i class="fa fa-facebook-square " style="color:white"></i></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div> -->
    
            </div>
        </div>
    
    
    </section>
</div>