<div *ngIf="show">
    <section class="main-footer">
        <div class="">
            <div class="container py-lg-4">
                <div class="row pt-2">
                    <div class="col-lg-4 col-md-6 col-sm-7 pr-lg-5">
                        <div class="white-color mb-3">
                            <h2 class=" white-color"><b>Medipro</b></h2>
                        </div>
                        <p class=" white-color">(NCHRC) Pvt. Ltd. is the first ever effort from the private sector, established to provide the highest quality of
                             state-of-the-art treatment and excellent care to the patients and their families from all around the globe..</p>
                        <ul class="mt-3">
                            <li><a href="tel:+(977) 015911312" class="white-color"><span class="fa fa-phone"></span>
                                    +(977) 015911312</a></li>
                            <li><a href="mailto:info@nch.com.np" class="mail white-color "><span
                                        class="fa fa-envelope-open-o"></span>
                                    info@nch.com.np</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-5 col-6  mt-sm-0 ">
                        <h2 class="white-color"><b>History</b></h2>
    
                        <ul>
                            <li><a href="about.html" class="white-color">About Us</a></li>
                            <li><a href="blog.html" class="white-color"> Blog Posts</a></li>
                            <li><a href="services.html" class="white-color">Departments</a></li>
                            <li><a href="#careers" class="white-color"> Careers</a></li>
                            <li><a href="about.html" class="white-color">Team</a></li>
                            <li><a href="contact.html" class="white-color">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 ">
                        <h2 class="white-color"><b>Links</b></h2>
                        <ul>
                            <li><a href="#terms" class="white-color">Terms of service</a></li>
                            <li><a href="#privacy" class="white-color"> Privacy policy</a></li>
                            <li><a href="#doc" class="white-color"> Documentation</a></li>
                            <li><a href="#support" class="white-color"> Support</a></li>
                            <li><a href="#components" class="white-color"> Components</a></li>
                            <li><a href="#changelog" class="white-color"> Changelog</a></li>
                        </ul>
    
                    </div>
    
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    
    <!-- copyright -->
    <section class="main-footer bottom-footer">
        <div class="container">
            <div class="row ">
                <p class="col-lg-8 white-color">© 2022 Medipro. All rights reserved. Design by <a
                        href="https://mediprocomputers.com/" target="_blank">
                        Medipro</a></p>
    
                <!-- <div class="col-lg-3 " style="color: white;">
                <i class="fa-brands fa-square-facebook" style="color:white"></i>
                <a href="#facebook" class="facebook"><i class="fa fa-facebook-square " style="color:white"></i></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div> -->
    
            </div>
        </div>
    
    
    </section>
</div>