<div class="mt-5">

    <div id="banner-main " style="margin-top: 8%;">
  
  
  
      <!-- <div class="inner-banner-image" *ngIf="fileList.length!=0">
              <div class="" *ngFor="let x of fileList">
                  <img src="{{fileLink}}&filenames={{x.filenames}}&extension={{x.extension}}&file_type={{content.page_group}}"
                      alt="{{x.filenames}}">
  
              </div>
          </div>
          <div class="inner-banner-image" *ngIf="fileList.length==0">
              <div class="">
                  <img src="{{fileLink}}" alt="demoPic">
  
              </div>
          </div>
  
          <div class="banner-content">
              <h3 style="position: absolute;top:50%;left:40%;color: white;" *ngIf="param1==null"><b>
  
                      {{param}}</b></h3>
  
  
              <h3 style="position: absolute;top:50%;left:40%;color: white;" *ngIf="param1!=null"><b>
  
                      {{param1}}</b></h3>
          </div> -->
  
  
    </div>
  
  
  
  
    <div class="container">
  
  
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <!-- <li class="breadcrumb-item " aria-current="page" *ngIf="content.page_group!='departments'">{{selectedContent.page_title}}</li> -->
  
          <li class="breadcrumb-item " aria-current="page">OPD Timings</li>
  
        </ol>
      </nav>


<div class="row mt-3">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-small">
            <tr>
                <th class="m-1 p-1">Doctor's Name</th>
                <th class="m-1 p-1">OPD Schedule </th>

            </tr>

            <ng-container *ngFor="let dataitem of doctorsList;let i=index">
                <tr>
                  <th colspan="2" class="text-center m-0 p-0">{{i>0 && doctorsList[i-1].detail==dataitem.detail?'':dataitem.detail}}</th>
                  </tr>
                  <tr>
                  <!-- <td>{{i>0 && doctorsList[i-1].detail==dataitem.detail?'':dataitem.detail}}</td> -->
                  <td>{{dataitem.referer}}</td>
                  <td class="m-2 p-2">
                    {{dataitem.opd_timing}}
                </td>

                </tr>
                </ng-container>

        </table>
    </div>
</div>













      </div>





      </div>
    