<div class="header" style="display: block;" *ngIf="show">
    <div class="top-header" id="top-header">
        <div class="row">
            <div class="col-xl-6 col-lg-4 col-xs-5 offset-lg-1 d-flex align-items-center">
                <h6 class="white-color m-0"> Unilab Diagnostic Center Pvt. Ltd
                </h6>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <i class="fa fa-calendar white-color"></i>

                    </div>
                    <div class="col-sm col-xs white-color">
                        Appointments(1234567890)
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fa fa-phone white-color"></i>
                    </div>
                    <div class="col-sm white-color">
                        1234567890
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header-->
        
    <header id="site-header" class="fixed-top bottom-border">
        <div class="container">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/images/unilab-logo.png">
                    
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>


                <div class="collapse navbar-collapse"id="navbarNavDropdown">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-header" [routerLink]="['/Home']" routerLinkActive='active'>Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link  nav-header" [routerLink]="['/About']" routerLinkActive='active'>About</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button style="border: none;" class="btn nav-link  nav-header dropdown-toggle" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true">
                                    Departments
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                                </ul>
                              </div>
                            <!-- <a class="nav-link  nav-header" >Departments</a> -->
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link  nav-header" [routerLink]="['/Service']" routerLinkActive='active'>Scope of Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  nav-header " [routerLink]="['/Contact']" routerLinkActive='active'>Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  nav-header " [routerLink]="['/Admin/AdminHome']" routerLinkActive='active'>Admin</a>
                        </li>


                    </ul>

                </div>

                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
</div>