<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" *ngIf="!selectedImage">
        <div class="inner-banner-image">
            <img src="assets/images/banner1.jpg">
        </div>
        <div class="banner-content">
            <h1 style="position: absolute;top:50%;left:42%;color: white;"><b>Service</b></h1>
        </div>
    </div>

    <div id="banner-main" *ngIf="selectedImage">
        <div class="inner-banner-image">
            <img src="{{selectedImage}}">
        </div>
        <div class="banner-content">
            <h1 style="position: absolute;top:50%;left:42%;color: white;"><b>Services</b></h1>
        </div>
    </div>

    <div class="container">

        <div class="m-5" *ngIf="false">
            <router-outlet name="ServiceName"></router-outlet>

            <!-- <mat-stepper orientation="vertical" class="row m-5">
                <ng-template matStepperIcon="edit">
                </ng-template>
                <mat-step>
                    <ng-template matStepLabel state="edit">Step 1</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 1</p>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel matStepperIcon="done">Step 2</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 2</p>

                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Step 3</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 3</p>
                    </ng-template>
                </mat-step>
            </mat-stepper> -->
        </div>



        <div class="row " style="padding:50px;">
            <div class="col-sm-4 font-color">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link primary-text" (click)="service='Neurology'">Neurology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link primary-text" (click)="service='Cardiology'">Cardiology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link primary-text" (click)="service='Thoracis'">Thoracis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link primary-text" (click)="service='Orthopedic'">Orthopedic</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm offset-1 box-shadow p-4" [ngSwitch]="service">
                <div class="row" *ngSwitchCase="'Cardiology'">
                    <div class="col-sm-12">
                        <h3 class="primary-text text-center">Cardiology</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
                <div class="row" *ngSwitchCase="'Thoracis'">
                    <div class="col-sm-12">
                        <h3 class="primary-text text-center">Thoracis</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
                <div class="row" *ngSwitchCase="'Orthopedic'">
                    <div class="col-sm-12">
                        <h3 class="primary-text text-center">Orthopedic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
                <div class="row" *ngSwitchDefault="'Neurology'">
                    <div class="col-sm-12">
                        <h3 class="primary-text text-center">Neurology</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>