<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" style="height: 400px;">
        <div class="inner-banner-image">
            <img src="{{selectedImage}}">
        </div>
        <div class="banner-content">
            <h1 style="position: absolute;top:200px;left:45%;color: white;"><b>Services</b></h1>
        </div>
    </div>

    <div class="container">

        <div class="m-5">
            <router-outlet name="ServiceName"></router-outlet>

            <!-- <mat-stepper orientation="vertical" class="row m-5">
                <ng-template matStepperIcon="edit">
                </ng-template>
                <mat-step>
                    <ng-template matStepLabel state="edit">Step 1</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 1</p>
                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel matStepperIcon="done">Step 2</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 2</p>

                    </ng-template>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Step 3</ng-template>
                    <ng-template matStepContent>
                        <p>This content was in step 3</p>
                    </ng-template>
                </mat-step>
            </mat-stepper> -->
        </div>



        <div class="row">
            <div class="col-sm-4 font-color">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>


</div>