<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" style="height: 400px;">
        <div class="inner-banner-image">
            <img src="../../../assets/images/banner1.jpg">
        </div>
        <div class="banner-content">
            <h1 style="position: absolute;top:200px;left:45%;color: white;"><b>About</b></h1>
        </div>
    </div>
    <div class="center-image p-5">
        <div class="row ">
            <img src="../../../assets/images/banner2.jpg" alt="" class="col-sm-8 offset-2" style="border-radius: 45px;">
        </div>
    </div>


    <div class="">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row ">
                <div class="col-lg-5  mt-lg-4">
                    <h6 class=" mb-2 banner-title-top">About Us</h6>
                    <h1 class="title-w3l mb-4 font-weight-bold"><b>Changing the way you receive healthcare.</b></h1>
                </div>
                <div class="col-lg-7  pl-lg-5 mt-lg-4">
                    <p class="pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                        eligendi
                        vitae sit.Ea
                        ipsum sed consequuntur illum facere.Vivamus a ligula quam tesque et libero ut justo, ultrices
                        in. Ut eu leo
                        non..
                    </p>
                    <p class=" pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                        eligendi
                        vitae sit.Ea
                        ipsum sed consequuntur illum facere.
                    </p>
                    <a class="btn btn-style read-more-second mt-sm-5 mt-4 mr-2" href="about.html">
                        Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row font-color mt-4">
        <div class="row mt-4">
            <div class="row mt-4">
                <h6 class="banner-title-top text-center">Extraordinary Services</h6>
            </div>
            <div class="row">
                <h1 class=" mb-sm-5 mb-4 pb-2 text-center"><b>Our Core Values</b></h1>
            </div>
            <div class="row mt-4">
                <div class="col-sm-2 offset-2">
                    <div class="row">
                        <i class="fa fa-lightbulb icon"></i>
                    </div>
                    <div class="row">
                        <h3 class=" text-center"><b>Innovation</b></h3>
                    </div>
                    <div class="row my-4">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nemo. Obcaecati eos, vitae
                            nisi maiores doloribus facilis deserunt incidunt inventore et numquam voluptas corrupti
                            neque culpa, dolor ab, at assumenda?</p>
                    </div>
                </div>
                <div class="col-sm-2 offset-1">
                    <div class="row">
                        <i class="fa fa-handshake icon"></i>
                    </div>
                    <div class="row">
                        <h3 class=" text-center"><b>Innovation</b></h3>
                    </div>
                    <div class="row my-4">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nemo. Obcaecati eos, vitae
                            nisi maiores doloribus facilis deserunt incidunt inventore et numquam voluptas corrupti
                            neque culpa, dolor ab, at assumenda?</p>
                    </div>
                </div>
                <div class="col-sm-2 offset-1">
                    <div class="row">
                        <i class="fa fa-podcast icon"></i>
                    </div>
                    <div class="row">
                        <h3 class=" text-center"><b>Innovation</b></h3>
                    </div>
                    <div class="row my-4">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nemo. Obcaecati eos, vitae
                            nisi maiores doloribus facilis deserunt incidunt inventore et numquam voluptas corrupti
                            neque culpa, dolor ab, at assumenda?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row my-5 ">
        <div class="col-lg-4 offset-2 ">
            <div class="">
                <h6 class="banner-title-top">WHAT WE OFFER</h6>
                <h1 class=" mb-sm-5"><b>Our Advantages</b></h1>
            </div>
            <div class="row">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ex, sequi, temporibus possimus
                    at explicabo enim officiis eum officia est consequuntur eius, deleniti nam ipsam distinctio dolores
                    laboriosam magni doloremque.</p>
            </div>

            <div class="row mt-3">
                <div class="col-sm-1">
                    <i class="fa fa-check banner-title-top"></i>
                </div>
                <div class="col-sm">
                    <p> Specialists and Dentists as One Team</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-1">
                    <i class="fa fa-check banner-title-top"></i>
                </div>
                <div class="col-sm">
                    <p> Complimentary Consultations </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-1">
                    <i class="fa fa-check banner-title-top"></i>
                </div>
                <div class="col-sm">
                    <p>All Types of Dental Services</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-1">
                    <i class="fa fa-check banner-title-top"></i>
                </div>
                <div class="col-sm">
                    <p>On-site Laboratory</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4  p-5 ">
            <img src="../../../assets/images/g1.jpg" alt="" class="img-fluid ">

        </div>
    </div>


    <div class="row m-5 ms-0">
        <div class="row">
            <h6 class="banner-title-top text-center">LEADING TEAM</h6>
        </div>
        <div class="row">
            <h1 class=" mb-sm-5 text-center"><b>Meet Our Team</b></h1>
        </div>

        <div class="row m-5  " style="justify-content: space-around;">
            
            <div class="image-div font-color row">
                <img src="../../../assets/images/team1.jpg" alt="" class="image-radius col-sm-6 ps-0 " style="height:  100%;width: auto;">
                <div class="col-sm">
                    <div class="row mt-4">
                        <h5 class="text-center m-0">
                            Will Smith
                        </h5>
                    </div>
                    <div class="row">
                        <p class="text-center" style="font-size: 14px;">Associate Developer</p>

                    </div>
                    <div class="row mt-3">
                        <p class="text-start" style="font-size: 14px;"><b>Qualification: </b>MBBS</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>Visiting Hours: </b>Sunday - Friday</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>Timing: </b>8:00 AM - 6:00 PM</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>NMC No.: </b>007</p>

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-sm-12">
                        
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-12 ">
                    </div>
                </div>
            </div>
            <div class="image-div font-color row">
                <img src="../../../assets/images/team1.jpg" alt="" class="image-radius col-sm-6 ps-0 " style="height:  100%;width: auto;">
                <div class="col-sm">
                    <div class="row mt-4">
                        <h5 class="text-center m-0">
                            Will Smith
                        </h5>
                    </div>
                    <div class="row">
                        <p class="text-center" style="font-size: 14px;">Associate Developer</p>

                    </div>
                    <div class="row mt-3">
                        <p class="text-start" style="font-size: 14px;"><b>Qualification: </b>MBBS</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>Visiting Hours: </b>Sunday - Friday</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>Timing: </b>8:00 AM - 6:00 PM</p>

                    </div>
                    <div class="row">
                        <p class="text-start" style="font-size: 14px;"><b>NMC No.: </b>007</p>

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-sm-12">
                        
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-sm-12 ">
                    </div>
                </div>
            </div>
            
        </div>



        
    </div>



</div>