<div style="position: relative;overflow-x:hidden;">

    <!-- //header -->

    <div class="banner-main" id="banner-main">

        <div class="banner-image d-md-flex justify-content-center align-items-center">

            <ngb-carousel #carousel [interval]="20000" (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let x of fileList; index as i">
                    <!-- <div class="carousel-caption">
                        <h3>My slide {{i + 1}} title</h3>
                    </div> -->
                    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img src="{{fileLink}}&filenames={{x.filenames}}&extension={{x.extension}}&file_type=sliders"
                                alt="{{x.filenames}}" style="object-fit: cover;aspect-ratio: 16/6;">

                            <!-- <img [src]="img.image" alt="My image {{i + 1}} description"> -->
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>



            <div class="banner-content" *ngIf="false">
                <div class="container p-sm-2">

                    <!-- <h6 class="banner-title-top ">Medical</h6> -->
                    <h2 class="white-text mb-5 fs-md-2 fs-xs-3">
                        To&nbsp;Participate&nbsp;in Nation’s&nbsp;Health
                    </h2>
                    <p>

                    </p>
                    <a class=" btn-style btn-white mt-sm-5 mt-5 read-more fs-md-4 fs-xs-5"
                        [routerLink]="['/Page/About Us']">
                        Get More Details</a>

                </div>
            </div>
        </div>


        <section class="home-services pt-lg-0" *ngIf="true">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-sm-12 mb-2">
                        <a href="/DoctorsList">
                            <div class="banner-box-wrap">
                                <div class="banner-box-wrap-inner">
                                    <div class="banner-box-wrap-front row">
                                        <div class="row">
                                            <div class="icon col-xs-2 col-md-3">
                                                <span class="fas fa-user-md mt-3"></span>
                                            </div>
                                            <div class="info col-sm w-auto">
                                                <h4 class="m-0 w-100 "><a href="#url">Know Our Specialist</a></h4>
                                            </div>
                                        </div>
                                        <p class=" py-2 white-text">We have a dedicated multidisciplinary team of
                                            specialists to offer safe care to patients along with online booking.
                                        </p>
                                    </div>
                                    <div class="banner-box-wrap-back">
                                        <p class="  white-text small">We have a dedicated multidisciplinary team of
                                            specialists to offer safe care to patients.
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4  col-sm-12 mb-2">
                        <a href="Page/Investigative%20Services">
                            <div class="banner-box-wrap">
                                <div class="banner-box-wrap-inner">
                                    <div class="banner-box-wrap-front row">
                                        <div class="row">
                                            <div class="icon col-sm-3">
                                                <i class="fa fa-hospital mt-3"></i>
                                                <!-- <span class="fa fa-circle-h mt-3"></span> -->
                                            </div>
                                            <div class="info col-sm w-auto">
                                                <!-- <p class="banner-box-wrap-theader">Protect</p> -->
                                                <h4 class="m-0"><a href="#url">Types of Services</a></h4>
                                            </div>
                                        </div>
                                        <p class=" py-2 white-text">We provide all services from General Surgery,
                                            Medicine
                                            ,Oncology, ENT, Dental Surgeon, Psychiatry, Neurosurgery, Cardiology
                                        </p>
                                    </div>
                                    <div class="banner-box-wrap-back">
                                        <p class="  white-text small">Hematology, Cardiothoracic & Vascular Surgery,
                                            Medical
                                            Officer, Hepatology,General Physician, Family Medicine (General Practice),
                                            Plastic Surgeon, Neurologist, Viral and Infectious Disease Consultation
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4  col-sm-12 mb-2">
                        <a href="/DoctorsList">
                            <div class="banner-box-wrap">
                                <div class="banner-box-wrap-inner">
                                    <div class="banner-box-wrap-front row">
                                        <div class="row m-0">
                                            <div class="icon col-sm-3">
                                                <span class="fa fa-file mt-3"></span>
                                            </div>
                                            <div class="info col-sm w-auto">
                                                <!-- <p class="banner-box-wrap-theader">Protect</p> -->
                                                <h4 class="m-0"><a href="#url">Get An Appointment</a></h4>
                                            </div>
                                        </div>
                                        <p class=" py-2 white-text">Appointment date and time requested would be
                                            confirmed
                                            back to you through our appointment section.
                                        </p>
                                    </div>
                                    <div class="banner-box-wrap-back">
                                        <p class="  white-text small">Appointment date and time requested would be
                                            confirmed
                                            back
                                            to you through our appointment section.
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </div>





    <div class=" py-5">
        <div class="container py-lg-5 py-md-4 py-2" *ngIf="homepageList[0]">
            <div class="row mt-lg-5 pt-lg-5">
                <div class="col-lg-5  mt-lg-4 d-flex align-items-center">
                    <h1 class="title-w3l mb-4 font-weight-bold primary-text"><b>{{homepageList[0].page_title}} </b>
                    </h1>
                </div>
                <div class="col-lg-7  pl-lg-5 mt-lg-4">

                    <p [innerHTML]="homepageList[0].page_text" class="pr-lg-5 mt-md-4 mt-3 mx-auto text-justify">
                </div>
                <!-- <a class=" btn-style read-more-second mt-sm-5 mt-4 mr-2" href="">
                        Read More</a> -->
            </div>
        </div>
    </div>
    <div class="primary-bg p-4" *ngIf="false">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-sm-6 col-lg-8 col-md-8 m-4">
                <h6 class=" white-text text-center">Need a Doctor for Check-up?</h6>
                <h2 class="font-weight-bold white-text text-center"><b>JUST MAKE AN APPOINTMENT & YOU'RE DONE!</b></h2>
                <!-- <h4 class="white-text m-0">Need a Doctor for Check-up?</h4>
                <h3 class="white-text m-0"><b>JUST MAKE AN APPOINTMENT & YOU'RE DONE!</b></h3> -->
            </div>
            <div class="col-lg col-sm col-md text-center">
                <a class=" btn-style btn-white mt-sm-5 mt-4 view-report text-center" href="">
                    Book&nbsp;an&nbsp;Appointment</a>

            </div>
        </div>
    </div>

    <div class=" py-5 font-color" *ngIf="homepageList[1]">
        <div class="container py-md-5 py-2 font-color">
            <div class="row ">
                <div class="col-lg-6 ">
                    <div class="">
                        <!-- <h6 class="banner-title-top primary-text">Extraordinary Services</h6> -->
                        <h1 class="title-w3l mb-4 font-weight-bold primary-text"><b>{{homepageList[1].page_title}} </b>
                        </h1>
                    </div>

                    <div class="row mb-4 service-div px-2">
                        <p [innerHTML]="homepageList[1].page_text" class="pr-lg-5 mt-md-4 mt-3 mx-auto">

                    </div>

                    <div class="row mb-4 service-div px-2" *ngIf="false">

                        <div class="icon col-xs-4 col-sm-2 col-2 service-icon">
                            <span class="fa fa-eye mt-3"></span>
                        </div>
                        <div class="info ps-4 col-xs-8 col-sm-10 col ">
                            <h4><a href="#url" class="primary-text-hover">CURATIVE</a></h4>
                            <p class="mt-1">Curative medicine is the health care given for medical conditions where a
                                cure is considered achievable. We use a comprehensive modality consisting of Medical
                                Oncology, Surgical Oncology and Radiation Oncology to treat cancerous diseases.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  p-5 d-flex align-items-center">
                    <img src="assets/images/bc.png" alt="" style="max-width: 100%;
                        max-height: 100%;">

                </div>
            </div>

        </div>
    </div>


    <section class="messages mt-4 p-5" *ngIf="false">
        <div class="row d-flex justify-content-around align-items-center mb-4 pb-4">
            <div class="col-sm-5 mb-3">
                <div class="">
                    <h5 class=" primary-text">Message from the</h5>
                    <h2 class=" mb-sm-5 mb-4 pb-2"><b>Founder and Executive Chairman.</b></h2>
                </div>
                <p class="pr-lg-5 mt-md-4 mt-3 mx-auto">Every life has been directly or indirectly affected by cancer.
                    Some lost the battle against it, some are fighting it, some survived it and some are supporting
                    those who are fighting and those who survived. The fi ght against cancer is one of the most daunting
                    challenges faced by people all around the world.
                </p>
                <a class=" btn-style read-more-second mt-sm-5 mt-4 mr-2" href="about.html">
                    Read More</a>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/team1.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>
        <div class="row d-flex justify-content-around align-items-center mt-4 pt-4">
            <div class="col-sm-3 order-sm-2 order-lg-1">
                <img src="assets/images/team1.jpg" alt="" class="img-fluid w-100">
            </div>
            <div class="col-sm-5 mb-3 order-sm-1 order-lg-2">
                <div class="">
                    <h5 class=" primary-text">Message from the</h5>
                    <h2 class=" mb-sm-5 mb-4 pb-2"><b>Medical Director.</b></h2>
                </div>
                <p class="pr-lg-5 mt-md-4 mt-3 mx-auto">Though most of the cancers are curable if diagnosed early,
                    people coming to hospitals for diagnosis and treatment in early stages are very low in Nepal. Even
                    if they did, Nepal lacked the equipment and manpower that helped in proper and timely diagnosis. Due
                    to lack of comprehensive cancer center patients were forced to go to abroad seeking the diagnosis
                    and treatment of their disease. Besides that, illiteracy and ignorance of people played a
                    significant role in increased cancer mortality among Nepalese people.
                </p>
                <a class=" btn-style read-more-second mt-sm-5 mt-4 mr-2" href="about.html">
                    Read More</a>
            </div>

        </div>
    </section>

    <section class=" py-5" id="features">
        <div class="py-lg-5 py-md-4">
            <div class=" text-center">
                <h5 class="primary-text">Our Services</h5>
                <h2 class=" mb-sm-5 mb-4 pb-lg-2 primary-text"><b>Professional Service Provider.</b></h2>
            </div>
            <div class="row">



                <div class="col-xs-11 col-sm-11 col-md-10  mx-auto">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of servicesList ; let i = index" style="display:flex;">
                            <ng-template carouselSlide>

                                <div class="unilab-shape">
                                    <img src="{{appconfig.baseUrl}}/api/OnlineUploadFileDownload?userid={{slide.sn}}&sn={{slide.sn}}&filenames={{slide.sn}}.png&extension=.png&file_type=services"
                                        alt="{{slide.page_title}}" style="width:100%;" (error)="errorHandler($event)">
                                    <div class="" style="padding-bottom:50px;height: auto;">
                                        <div style="position: relative;">
                                            <h5 class="card-title fs-5 m-2">{{slide.page_title}}</h5>
                                            <!-- <hr > -->
                                            <p class="small white-text mt-1 pt-2"
                                                style="color:white !important;border-top:1px solid white"
                                                [innerHTML]="slide.page_text | slice:0:150">
                                            </p>
                                        </div>
                                        <!-- <a class=" btn-style small btn-white  m-3 col-sm-4  smaller btn-book  d-flex  justify-content-center "
                                              style="cursor:pointer;position: absolute;
                                          bottom: 0;right: 0;" (click)="selectContent(x)">
                                              Read&nbsp;more</a>
                                 -->
                                    </div>

                                    <!-- <img src="{{slide.image}}" [alt]="slide.name" [title]="slide.name">
                                    <div class="d-flex align-items-start flex-column p-3"
                                        style="width: 100%;height: 60%;"> -->
                                    <!-- <div style="position: relative;">
                                        <h4 class=" white-text ">{{slide.page_title}}</h4>
                                        <p class="white-text service-text" [innerHTML]="slide.page_text">
                                        </p>
                                    </div> -->
                                    <div class=" ">
                                        <a class=" btn-style small btn-white  m-3 col-sm-4  smaller btn-book  d-flex  justify-content-center"
                                            (click)="onSelectImage(slide.page_title);"
                                            style="cursor:pointer;position: absolute; bottom: 0;right: 0;">
                                            Read&nbsp;More&nbsp;
                                        </a>
                                        <!-- <a class="service-read-more"
                                                (click)="onSelectImage(slide);redirectToService(i)">Read More <i
                                                    class="fa fa-angle-double-right"></i></a> -->
                                    </div>

                                </div>

                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>
                </div>

            </div>
            <div class=" row" *ngIf="false">
                <div class="col-lg-5 offset-1">
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-american-sign-language-interpreting "></span>
                            </div>
                        </div>
                        <div class=" col-9 info ">
                            <h4><a href="#url" class="primary-text">Therapiya</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-superpowers"></span>
                            </div>
                        </div>
                        <div class="col-9 info">
                            <h4><a href="#url" class="primary-text">Dentistry</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-snowflake-o"></span>
                            </div>
                        </div>
                        <div class="col-9 info">
                            <h4><a href="#url" class="primary-text">Virusology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-1">
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-building-o"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text">Pharmocology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-heartbeat"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text"> Cardiology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-eye"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text"> Eye Surgery</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>





    <!-- stats -->
    <section class="py-lg-0 py-5" class="stats" *ngIf="false">
        <div class="stats-image">
            <img src="assets/images/banner.jpg" alt="stats-image" class="stats-image">
        </div>
        <div class=" container mt-5">
            <div class="row ">
                <div class="col-lg-4 col-6 text-center mb-3">
                    <span class="fa fa-trophy stats-icon"></span>
                    <h1 class="counter text-center">3171</h1>
                    <h4>Radiation Treatment</h4>
                </div>
                <div class="col-lg-4 col-6 text-center mb-3">
                    <span class="fa fa-bed stats-icon"></span>
                    <h1 class="counter text-center">100</h1>
                    <h4>Hospital Rooms</h4>
                </div>
                <div class="col-lg-4 col-6 text-center mb-3">
                    <span class="fa fa-user-md stats-icon"></span>
                    <h1 class="counter text-center">535</h1>
                    <h4>Qualified Staffs</h4>
                </div>
                <div class="col-lg-4 col-6 text-center pb-3">
                    <span class="fa fa-thumbs-up stats-icon"></span>
                    <h1 class="counter text-center">15537</h1>
                    <h4>Satisfied Patients</h4>
                </div>
                <div class="col-lg-4 col-6 text-center pb-3">
                    <span class="fa fa-heart stats-icon"></span>
                    <h1 class="counter text-center">247</h1>
                    <h4>Awareness class and camps</h4>
                </div>
                <div class="col-lg-4 col-6 text-center pb-3">
                    <span class="fa fa-users stats-icon"></span>
                    <h1 class="counter text-center">120</h1>
                    <h4>Patients Beds</h4>
                </div>
            </div>
        </div>
    </section>





    <!-- DOCTORS -->

    <div class="row ">
        <div class="col-sm">

            <div class="row">
                <h5 class="text-center primary-text">LEADING TEAM</h5>

                <h2 class=" mb-sm-5 text-center primary-text"><b>Meet Our Team</b></h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-10 mx-auto">

                    <owl-carousel-o [options]="customOptions" class="m-0 p-0" style="width:20vw;">
                        <ng-container *ngFor="let x of doctors; let i=index ">
                            <ng-template carouselSlide>


                                <doctor-card [inputcss]="'card-new col-sm-10 col-md-8 col-lg-7 mx-auto'"
                                    [x]="x"></doctor-card>

                                <div class="" *ngIf="false">
                                    <div class="card-image">
                                        <div class="image">

                                            <img src="{{appconfig.baseUrl}}/api/OnlineUploadFileDownload?userid={{x.refid}}&sn={{x.refid}}&filenames={{x.refid}}.png&extension=.png&file_type=doctors"
                                                alt="{{x.refid}}" class="image-radius col-sm-8 px-0 about-team-image"
                                                (error)="errorHandler($event)">


                                            <!-- <img src="http://192.168.15.126/imports/images/doctors/{{x.refid}}.png" alt=""
                                                    class="image-radius col-sm-8 px-0 about-team-image"> -->

                                        </div>
                                    </div>
                                    <div class="card-text p-3 box-shadow pb-4 mb-4">
                                        <h5 class=" d-flex justify-content-around fs-6 m-0"
                                            style="white-space: nowrap;"><b>{{x.referer |titlecase}}</b> </h5>
                                        <p class=" small m-0 mt-1 fs-6 d-flex justify-content-around">
                                            {{x.detail}}</p>



                                        <a class=" btn-style small btn-white mt-5  fs-6 smaller btn-book px-2 py-1 d-flex justify-content-around"
                                            href="">
                                            Book&nbsp;Now</a>


                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>




                </div>
            </div>

            <div class="row mt-2 d-flex justify-content-around px-4">
                <a class=" btn-style col-sm-2 read-more-second text-center " [routerLink]="['/DoctorsList']">
                    Find Doctor</a>
            </div>

        </div>




    </div>

    <!-- packages -->
    <section class=" py-5" id="features" *ngIf="packagesList.length!=0">
        <div class="py-lg-5 py-md-4">
            <div class=" text-center">
                <h2 class=" mb-sm-5 text-center primary-text"><b>Health Screening Packages</b></h2>
            </div>
            <div class="row">

                <div class="col-sm">

                </div>

                <div class="col-sm-8">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of packagesList ; let i = index" style="display:flex;">
                            <ng-template carouselSlide>

                                <div class="  mb-sm-3 mb-3 m-2 card packages-card font-color hoverable"
                                    style="height:80%">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-4 d-flex align-items-center">
                                                <div class="bg-white">
                                                    <img class="box-shadow"
                                                        src="{{baseUrl}}/api/OnlineUploadFileDownload?userid={{slide.sn}}&sn={{slide.sn}}&filenames={{slide.sn}}.png&extension=.png&file_type=packages"
                                                        alt="{{slide.page_title}}" (error)="errorHandler($event)"
                                                        style="width:100%;aspect-ratio: 16/9;">
                                                </div>
                                            </div>
                                            <div class=" col-8  info pb-4">
                                                <h4><a class="primary-text fs-6" style="text-transform: uppercase;">
                                                        {{slide.page_title}}
                                                    </a></h4>


                                                <br>

                                            </div>
                                            <div class=" ">
                                                <a class=" btn-style small btn-white btn-sm  m-2 fs-6 col-sm-4  smaller btn-book  d-flex  justify-content-center p-1"
                                                    (click)="onSelectImage(slide.page_title);"
                                                    style="cursor:pointer;position: absolute; bottom: 0;right: 0;">
                                                    Details&nbsp;
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="unilab-shape" *ngIf="false">
                                    <img src="{{appconfig.baseUrl}}/api/OnlineUploadFileDownload?userid={{slide.sn}}&sn={{slide.sn}}&filenames={{slide.sn}}.png&extension=.png&file_type=services"
                                        alt="{{slide.page_title}}" style="width:100%;">
                                    <div class="" style="padding-bottom:50px;height: auto;">
                                        <div style="position: relative;">
                                            <h5 class="card-title fs-5 m-2">{{slide.page_title}}</h5>
                                            <p class="small white-text mt-1 pt-2"
                                                style="color:white !important;border-top:1px solid white"
                                                [innerHTML]="slide.page_text | slice:0:150">
                                            </p>
                                        </div>

                                    </div>

                                    <div class=" ">
                                        <a class=" btn-style small btn-white  m-3 col-sm-4  smaller btn-book  d-flex  justify-content-center"
                                            (click)="onSelectImage(slide.page_title);"
                                            style="cursor:pointer;position: absolute; bottom: 0;right: 0;">
                                            Read&nbsp;More&nbsp;
                                        </a>

                                    </div>

                                </div>

                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>
                </div>
                <div class="col-sm">

                </div>
            </div>

        </div>
    </section>

    <section id="clients" class="section-bg">

        <div class="container">

            <div class=" text-center">
                <h2 class=" mb-sm-5 text-center primary-text"><b>Our Clients</b></h2>
            </div>
            <div class="row no-gutters clients-wrap clearfix wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp;">

                <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let slide of clientsList" (click)="goToLink(slide)">
                    <div class="client-logo">
                        <img src="{{appconfig.baseUrl}}/api/OnlineUploadFileDownload?userid={{slide.sn}}&sn={{slide.sn}}&filenames={{slide.sn}}.png&extension=.png&file_type=clients"
                            alt="{{slide.page_title}}" (error)="errorHandler($event)" class="img-fluid" alt=""
                            data-toggle="tootltip" alt="{{slide.page_title}}">
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png"
                            class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/clients/client-8.png"
                            class="img-fluid" alt="">
                    </div>
                </div> -->

            </div>

        </div>

    </section>




    <section class=" pb-5">

        <div class="container">
            <div class=" text-center">
                <h2 class="my-4 p-5 primary-text"><b>Contact</b></h2>
            </div>
        </div>
        <div class="mapouter mb-5 p-3" style="height:auto">
            <div class="row mb-lg-5">
                <div class="col-lg-4 col-sm-10 offset-lg-1 p-2 mx-auto">
                    <h5 class=" mb-1 text-start primary-text">Get in Touch</h5>
                    <h2 class=" mb-2 text-start"><b>Contact Us</b></h2>
                    <p>We have a dedicated support center for all of your support needs. We usually get back to you
                        within
                        12-24 hours.</p>
                    <div class=" mt-lg-4 row">
                        <div class="col-xs-2 col-lg-1">
                            <span class="fa fa-map-marker banner-title-top " style="font-size: 20px;"></span>
                        </div>
                        <div class="col-xs-10 col-lg-10">
                            <div class=" m-0 text-start">
                                <h5 class="primary-text"><b>Our Address</b></h5>

                            </div>
                            <div class=" m-0">
                                <p style="font-size: 13px;" class="m-0">P.O. Box No. {{settings.po_box}},
                                    {{settings.address_one}}, {{settings.address_two}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-phone banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Call Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">{{settings.phone_no_one | placeholder:'comma'}}
                                    {{settings.phone_no_two | placeholder:'comma'}} {{settings.phone_no_three |
                                    placeholder:'comma'}} {{settings.phone_no_four}}
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-envelope banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Email Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">maharjanniva980@gmail.com</p>

                            </div>
                        </div>
                    </div> -->
                    <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-life-ring banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Customer Support</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">
                                    {{settings.customer_support_email}}
                                </p>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="gmap_canvas">
                        <iframe [src]="settings.map_url | safe: 'resourceUrl' " width="100%" height="100%"
                            id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14137.561167766831!2d85.3390083!3d27.643394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x566b845e859ff374!2z4KSo4KWH4KSq4KS-4KSyIOCkleCljeCkr-CkvuCkqOCljeCkuOCksCDgpIXgpLjgpY3gpKrgpKTgpL7gpLIg4KSwIOCkheCkqOClgeCkuOCkqOCljeCkp-CkvuCkqCDgpJXgpYfgpKjgpY3gpKbgpY3gpLA!5e0!3m2!1sne!2snp!4v1673964409476!5m2!1sne!2snp" 
                         width="100%" height="100%" id="gmap_canvas"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
                        <br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 443px;
                                width: 100%;
                            }
                        </style><a href="https://www.embedgooglemap.net"></a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 443px;
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- <modal #startModal [size]="'lg'" [type]="'init'" > </modal> -->

    <ng-template #startModal let-modal>
        <div class="modal-header ">
            <h5 class="modal-title">
                {{modalData[0].page_title}}
            </h5>


            <button (click)="modal.dismiss('click')">
                <i class="fa fa-close red-text"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
<div class="col-sm-10 offset-lg-2">
    <img src="{{modalImageLink}}{{modalData[0].sn}}&sn={{modalData[0].sn}}&filenames={{modalData[0].sn}}.png&extension=.png&file_type=modals"
     alt="" style="width:70%;aspect-ratio: 1/1;">
   
</div>
                <div [innerHTML]="modalData[0].page_text|safe:'html'"></div>
            </div>


        </div>
        <div class="modal-footer">


        </div>
    </ng-template>

    <ng-template #startModal1 let-modal>
        <div class="modal-header ">
            <h5 class="modal-title">
                {{modalData[1].page_title}}
            </h5>

            <button (click)="modal.dismiss('click')">
                <i class="fa fa-close red-text"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10 offset-lg-2">
                    <img src="{{modalImageLink}}{{modalData[1].sn}}&sn={{modalData[1].sn}}&filenames={{modalData[1].sn}}.png&extension=.png&file_type=modals"
                     alt="" style="width:70%;aspect-ratio: 1/1;">
                   
                </div>
                
                <p [innerHTML]="modalData[1].page_text|safe:'html'"></p>
                <!-- {{modalData[1].page_text|safe:'html'}} -->
            </div>


        </div>
        <div class="modal-footer">


        </div>
    </ng-template>

    <ng-template #startModal2 let-modal>
        <div class="modal-header ">
            <h5 class="modal-title">
                {{modalData[2].page_title}}
            </h5>

            <button (click)="modal.dismiss('click')">
                <i class="fa fa-close red-text"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                {{modalData[2].page_text|safe:'html'}}
            </div>


        </div>
        <div class="modal-footer">


        </div>
    </ng-template>


</div>