<div style="position: relative;overflow-x:hidden;">

    <!-- //header -->

    <div class="banner-main" id="banner-main">
        <div class="banner-content">
            <div class="container">

                <!-- <h6 class="banner-title-top ">Medical</h6> -->
                <h3 class="banner-title-center">Better Doctors. Better Care.</h3>
                <a class=" btn-style btn-white mt-sm-5 mt-4 read-more" href="about.html">
                    Book Appointment</a>

            </div>
        </div>
        <div class="banner-image">

            <ngb-carousel #carousel [interval]="2000" (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let img of images; index as i">
                    <!-- <div class="carousel-caption">
                        <h3>My slide {{i + 1}} title</h3>
                    </div> -->
                    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img [src]="img" alt="My image {{i + 1}} description">
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>

        </div>

        <section class="home-services pt-lg-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2 mb-2">
                        <div class="banner-box-wrap">
                            <div class="banner-box-wrap-inner">
                                <div class="banner-box-wrap-front row">
                                    <div class="row">
                                        <div class="icon col-sm-4">
                                            <span class="fa fa-users mt-3"></span>
                                        </div>
                                        <div class="info col-sm">
                                            <p class="banner-box-wrap-theader">Protect</p>
                                            <h4 class="m-0"><a href="#url">Qualified Team</a></h4>
                                        </div>
                                    </div>
                                    <p class=" py-2 white-text">Lorem ipsum asd dolor sit amet consectetur ipsum elit.
                                        Qui eligendi vitae sit.
                                    </p>
                                </div>
                                <div class="banner-box-wrap-back">
                                    <p class="  white-text">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                                        eligendi vitae sit.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <div class="banner-box-wrap">
                            <div class="banner-box-wrap-inner">
                                <div class="banner-box-wrap-front row">
                                    <div class="row">
                                        <div class="icon col-sm-4">
                                            <span class="fa fa-users mt-3"></span>
                                        </div>
                                        <div class="info col-sm">
                                            <p class="banner-box-wrap-theader">Protect</p>
                                            <h4 class="m-0"><a href="#url">Qualified Team</a></h4>
                                        </div>
                                    </div>
                                    <p class=" py-2 white-text">Lorem ipsum asd dolor sit amet consectetur ipsum elit.
                                        Qui eligendi vitae sit.
                                    </p>
                                </div>
                                <div class="banner-box-wrap-back">
                                    <p class="  white-text">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                                        eligendi vitae sit.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <div class="banner-box-wrap">
                            <div class="banner-box-wrap-inner">
                                <div class="banner-box-wrap-front row">
                                    <div class="row m-0">
                                        <div class="icon col-sm-4">
                                            <span class="fa fa-users mt-3"></span>
                                        </div>
                                        <div class="info col-sm">
                                            <p class="banner-box-wrap-theader">Protect</p>
                                            <h4 class="m-0"><a href="#url">Qualified Team</a></h4>
                                        </div>
                                    </div>
                                    <p class=" py-2 white-text">Lorem ipsum asd dolor sit amet consectetur ipsum elit.
                                        Qui eligendi vitae sit.
                                    </p>
                                </div>
                                <div class="banner-box-wrap-back">
                                    <p class="  white-text">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                                        eligendi vitae sit.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>



    <div class=" py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row mt-lg-5 pt-lg-5">
                <div class="col-lg-5  mt-lg-4">
                    <h6 class=" mb-2 banner-title-top ">About Us</h6>
                    <h1 class="title-w3l mb-4 font-weight-bold primary-text"><b>Changing the way you receive
                            healthcare.</b></h1>
                </div>
                <div class="col-lg-7  pl-lg-5 mt-lg-4">
                    <p class="pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                        eligendi
                        vitae sit.Ea
                        ipsum sed consequuntur illum facere.Vivamus a ligula quam tesque et libero ut justo, ultrices
                        in. Ut eu leo
                        non..
                    </p>
                    <p class=" pr-lg-5 mt-md-4 mt-3 mx-auto">Lorem ipsum dolor sit amet consectetur ipsum elit. Qui
                        eligendi
                        vitae sit.Ea
                        ipsum sed consequuntur illum facere.
                    </p>
                    <a class=" btn-style read-more-second mt-sm-5 mt-4 mr-2" href="about.html">
                        Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="primary-bg pt-lg-2 pt-4 pb-5">
        <div class="row" style="align-items: end;">
            <div class="col-sm offset-md-1 text-center">
                <h1 class="white-text m-0"><b>View Your Report</b></h1>
            </div>
            <div class="col-sm offset-md-1 text-center">
                <a class=" btn-style btn-white mt-sm-5 mt-4 view-report" href="about.html">
                    View Report</a>

            </div>
        </div>
    </div>

    <div class=" py-5 font-color">
        <div class="container py-md-5 py-2 font-color">
            <div class="row ">
                <div class="col-lg-6 ">
                    <div class="">
                        <h6 class="banner-title-top primary-text">Extraordinary Services</h6>
                        <h1 class=" mb-sm-5 mb-4 pb-2"><b>Why You Should Choose Unilab?.</b></h1>
                    </div>

                    <div class="row mb-4 service-div px-2">
                        <div class="icon col-xs-4 col-sm-2 col-2 service-icon">
                            <span class="fa fa-calendar mt-3"></span>
                        </div>
                        <div class="info ps-4 col-xs-8 col-sm-10 col ">
                            <h4><a href="#url" class="primary-text-hover">10 Years Of Experience</a></h4>
                            <p class="mt-1">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit
                                amet elit. </p>
                        </div>
                    </div>
                    <div class="row mb-4 service-div px-2">
                        <div class="icon col-xs-4 col-sm-2 col-2 service-icon ">
                            <span class="fa fa-calendar mt-3"></span>
                        </div>
                        <div class="info ps-4 col-xs-8 col-sm-10 col">
                            <h4><a href="#url" class="primary-text-hover">Free Consultation</a></h4>
                            <p class="mt-1">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit
                                amet elit. </p>
                        </div>
                    </div>
                    <div class="row mb-4 service-div px-2">
                        <div class="icon col-xs-4 col-sm-2 col-2 service-icon ">
                            <span class="fa fa-shield mt-3"></span>
                        </div>
                        <div class="info ps-4 col-xs-8 col-sm-10 col">
                            <h4><a href="#url" class="primary-text-hover">100% Guranteed</a></h4>
                            <p class="mt-1">Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit
                                amet elit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  p-5 ">
                    <img src="../../../assets/images/ab.jpg" alt="" class="img-fluid ">

                </div>
            </div>

        </div>
    </div>

    <section class=" py-5" id="features">
        <div class="py-lg-5 py-md-4">
            <div class=" text-center">
                <h6 class="banner-title-top">Out Services</h6>
                <h1 class=" mb-sm-5 mb-4 pb-lg-2 primary-text"><b>Professional Lab Service Provider.</b></h1>
            </div>
            <div class="row">

                <div class="col-sm">

                </div>

                <div class="col-sm-8">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of images ; let i = index">
                            <ng-template carouselSlide>

                                <div class="unilab-shape">
                                    <img src="{{slide}}" [alt]="slide" [title]="slide">
                                    <div class="d-flex align-items-start flex-column p-3"
                                        style="width: 100%;height: 60%;">
                                        <div>
                                            <h4 class=" white-text ">Service One</h4>
                                            <p class="white-text service-text">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Maxime accusamus facilis ex, quos atque error veritatis
                                                sunt, facere aliquid est libero tempora exercitationem
                                                quidem odio ea magni ipsam minima repellendus?
                                            </p>
                                        </div>
                                        <div class="mt-auto ms-auto">
                                            <a class="service-read-more"
                                                (click)="onSelectImage(slide);redirectToService(i)">Read More <i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>

                                    </div>
                                </div>

                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>
                </div>
                <div class="col-sm">

                </div>
            </div>

            <div class=" row" *ngIf="false">
                <div class="col-lg-5 offset-1">
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-american-sign-language-interpreting "></span>
                            </div>
                        </div>
                        <div class=" col-9 info ">
                            <h4><a href="#url" class="primary-text">Therapiya</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-superpowers"></span>
                            </div>
                        </div>
                        <div class="col-9 info">
                            <h4><a href="#url" class="primary-text">Dentistry</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-snowflake-o"></span>
                            </div>
                        </div>
                        <div class="col-9 info">
                            <h4><a href="#url" class="primary-text">Virusology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-1">
                    <div class="row  mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-building-o"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text">Pharmocology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-heartbeat"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text"> Cardiology</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row mb-sm-3 mb-3 half-page-card font-color">
                        <div class="col-lg-2 col-3 d-flex align-items-center">
                            <div class="icon p-2 bg-white">
                                <span class="fa fa-eye"></span>
                            </div>
                        </div>
                        <div class="info col-9 ">
                            <h4><a href="#url" class="primary-text"> Eye Surgery</a></h4>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- stats -->
    <section class="py-lg-0 py-5" class="stats">
        <div class="stats-image">
            <img src="../../../assets/images/banner.jpg" alt="stats-image" class="stats-image">
        </div>
        <div class=" container pt-5 mt-5">
            <div class="row ">
                <div class="col-lg-3 col-6 text-center">
                    <span class="fa fa-users stats-icon"></span>
                    <h1 class="counter text-center">1100</h1>
                    <h4>Expert Doctors</h4>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span class="fa fa-laptop stats-icon"></span>
                    <h1 class="counter text-center">1020</h1>
                    <h4>Health Programs</h4>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span class="fa fa-smile stats-icon"></span>
                    <h1 class="counter text-center">912</h1>
                    <h4>Happy Clients</h4>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span class="fa fa-trophy stats-icon"></span>
                    <h1 class="counter text-center">80</h1>
                    <h4>Success Meets</h4>
                </div>
            </div>
        </div>
    </section>



    <section class=" pb-5">

        <div class="container">
            <div class=" text-center">
                <h1 class="my-4 p-5 primary-text"><b>Contact</b></h1>
            </div>
        </div>
        <div class="mapouter mb-5 p-3" style="height:auto">
            <div class="row mb-lg-5">
                <div class="col-lg-4 col-sm offset-lg-1 p-2">
                    <h6 class="banner-title-top mb-1 text-start primary-text">Get in Touch</h6>
                    <h1 class=" mb-2 text-start"><b>Contact Us</b></h1>
                    <p>We have a dedicated support center for all of your support needs. We usually get back to you
                        within
                        12-24 hours.</p>
                    <div class=" mt-lg-4 row">
                        <div class="col-xs-2 col-lg-1">
                            <span class="fa fa-map-marker banner-title-top " style="font-size: 20px;"></span>
                        </div>
                        <div class="col-xs-10 col-lg-10">
                            <div class=" m-0 text-start">
                                <h5 class="primary-text"><b>Our Address</b></h5>

                            </div>
                            <div class=" m-0">
                                <p style="font-size: 13px;" class="m-0">China Town , Kathmandu</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-phone banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Call Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">+(977) 234 4567</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-envelope banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Email Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">example@mail.com</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-lg-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-life-ring banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0 text-start">
                                <h5 class="primary-text"><b>Customer Support</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">info@support.com</p>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=medipro%20computers&t=&z=17&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 443px;
                                width: 100%;
                            }
                        </style><a href="https://www.embedgooglemap.net"></a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 443px;
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </section>







</div>