<div class="">

    <div class=" m-1" style="margin-top: 150px !important;">
         <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>

                    <li class="breadcrumb-item " aria-current="page">Lab Report Download</li>

                </ol>
            </nav>


        <div class="container-fluid formcontainer  ps-0">
           
            <div class="back ">


                <div class="div-center">


                    <div class="row m-3">
                        <div class="col-sm-2">

                            
                            <form (ngSubmit)="getReport()">
                                <div class=" m-0">
                                    <label for="email" class="small">Invoice No</label>
                                    <input type="text" class="form-control form-control-sm"
                                        placeholder="Enter Invoice No" required name="invno"
                                        [(ngModel)]="data.invno" id="invno"  [maxlength]="11">
                                </div>
                                <div class=" m-0 mt-2">
                                    <label for="pwd" class="small">Phone No</label>
                                    <input type="number" class="form-control form-control-sm"
                                        placeholder="Enter phone no" name="phnno" required
                                        [(ngModel)]="data.phoneno" id="phnno"  [maxlength]="10">
                                </div>

                                <div class="row ">
                                    <p class="card-text " style="font-size: 12px;">Please enter 11-digit Invoice number
                                        which is given in your Bill
                                        and your 10-digit Mobile number</p>
                                </div>


                                <br>
                                <button type="submit" class="btn btn-sm  m-1 col-sm-12 btn-primary" (click)="getReport()">Get Report</button>
                                <!-- <button type="reset" class="btn btn-link btn-sm">Cancel</button> -->

                            </form>


                        </div>
                        <!-- *ngIf="labReport.length !==0 " -->
                        <div class="col-md-5 p-2 offset-sm-1 box-shadow " *ngIf="labReport.length !=0 ">
                            <table class="table table-hover table-bordered" >
                                <!-- <tr>
                                    <th colspan="2" class="text-center">
                                        Report Information
                                    </th>
                                    
                                </tr> -->
                                <tr>
                                    <th class="m-1 p-1">
                                        Invoice No

                                    </th>
                                    <td>
                                        {{labReport.inv_no}}

                                    </td>
                                </tr>
                                <tr>
                                    <th class="m-1 p-1">
                                        Date
                                    </th>
                                    <td>
                                        {{labReport.ddate | date:'yyyy/MM/dd'}}

                                    </td>
                                </tr>

                                <tr>
                                    <th class="m-1 p-1">
                                        Name
                                    </th>
                                    <td>
                                        {{labReport.pname}}


                                    </td>
                                </tr>
                                <tr>
                                    <th class="m-1 p-1">
                                        Gender/Age
                                    </th>
                                    <td>
                                        {{labReport.age}}/{{labReport.sex | slice:0:1}}


                                    </td>
                                </tr>
                                <tr>
                                    <th class="m-1 p-1">
                                        Address
                                    </th>
                                    <td>
                                        {{labReport.address}}
                                    </td>
                                </tr>

                                <tr>
                                    <th class="m-1 p-1">
                                        Status
                                    </th>
                                    <td>
                                        <!-- <span class="badge badge-success" style="background-color:green;color:white"> -->
                                            Available

                                        <!-- </span> -->
                                        <!-- {{labReport.address}} -->
                                    </td>
                                </tr>

                               

                            </table>
                            <button class="btn btn-sm  m-1  btn-primary" (click)="downloadReport()">
                                <i class="fa fa-download"></i>
                                Download
                                Report</button>

                        </div>

                        <div class="col-md-2" *ngIf="showUnavailable ">
                            <div class="card-body">
                                <h5 class="card-title ">Lab Report Unavailable</h5>
                                <button type="button" class="btn btn-sm  m-1  btn-primary"  >
                                 <i class="fas fa-envelope"></i>
                                 Enter Again </button>
                            </div>
                        
                        </div>

                    </div>


                </div>





            </div>


        </div>

    </div>
</div>