<div style="display: flex;">
    <div class="main-page mainViewToggle">
        <div class="formcontainer">
    
    
    
    Admin Home Page
    
            <ul>
                <li *ngFor="let x of contents">
                    <a (click)="selectContent(x)">
                    {{x.page_title}}
                </a>
                </li>
            </ul>
            

    <ckeditor [editor]="editor" [(ngModel)]="model.editorData" ></ckeditor>
    
            <button class="btn-small btn">Submit</button>

    {{model.editorData}}
    
    
    
    
    
        </div>
    </div>
</div>