<div style="display: flex;">
    <div class="main-page mainViewToggle">
        <div class="formcontainer">
<!-- <title>Report - {{title}}</title> -->
<div class="container-fluid formcontainer ps-0">


    <div class="back">
  
  
      <div class="div-center">
    
    
        <div class="content">
    
    
          <img src="https://www.hamrodoctor.com/image.php?src=/uploads/hospitals/5e53652a04e48.png&w=150&h=190" height="40" class="ms-4" >
          <!-- <hr class="m-1 mt-1"/> -->
          <form (ngSubmit)="tryLogin()" class="col-md-12">
            <div class=" m-0">
              <label for="email" class="small">User Name</label>
              <input type="text" class="form-control form-control-sm" placeholder="Enter Username"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="data.userid" id="email">
            </div>
            <div class=" m-0 mt-2">
              <label for="pwd" class="small">Password</label>
              <input type="password" class="form-control form-control-sm" placeholder="Enter password"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="data.password" id="pwd">
            </div>
    
    <br>
            <button type="submit" class="btn btn-sm  m-1 col-sm-12 btn-primary">Login</button>
            <!-- <button type="reset" class="btn btn-link btn-sm">Cancel</button> -->
    
          </form>
    
        </div>
    
    
      </div>
  
  
  
    <div class="row" [hidden]="true">
  
      <div class="col-sm-3 col-md-3 ">
        <form (ngSubmit)="tryLogin()">
          <img src="assets/img/medipro.png" height="40" class="mt-5">
          <div class="form-group m-0">
            <label for="email" class="small">User Name</label>
            <input type="text" class="form-control form-control-sm" placeholder="Enter Username"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="data.userid" id="emailw">
          </div>
          <div class="form-group m-0">
            <label for="pwd" class="small">Password</label>
            <input type="password" class="form-control form-control-sm" placeholder="Enter password"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="data.password" id="pwdw">
          </div>
  
  
          <button type="submit" class="btn btn-sm m-1">Login</button>
          <!-- <button type="reset" class="btn btn-link btn-sm">Cancel</button> -->
  
        </form>
  
        <!-- <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div> -->
  
  
      </div>
  
      <div class="col-sm-9 ">
        <img src="assets/img/loginbanner.png" class="img-responsive" style="height:70vh;width:95%">
      </div>
  
    </div>
  
  
  
  
  </div>
  
  
  </div>




        </div>


    </div>



</div>

