<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" style="margin-top: 5%;">
        <div class="inner-banner-image">
            <img src="assets/images/banner1.jpg">
        </div>
        <div class="banner-content" style="left:45%">
            <h1 class="text-white"><b>Contact</b></h1>
        </div>
    </div>





    <section class=" py-5" id="contact">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-md-5 offset-md-1 ">
                    <h6 class="fs-3 mb-1 text-primary">Get in Touch</h6>
                    <h1 class=" mb-2"><b>Contact Us</b></h1>
                    <p>We have a dedicated support center for all of your support needs. We usually get back to you
                        within
                        12-24 hours.</p>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-map-marker banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Our Address</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0"> P.O. Box No. {{settings.po_box}}, {{settings.address_one}}, {{settings.address_two}}</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-phone banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Call Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0"> {{settings.phone_no_one | placeholder:'comma'}}  {{settings.phone_no_two | placeholder:'comma'}}  {{settings.phone_no_three | placeholder:'comma'}}  {{settings.phone_no_four }}
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-envelope banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Email Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">{{settings.customer_support_email}}</p>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-5 offset-md-1">

                    <div class="gmap_canvas">
                        <iframe
                        [src]="settings.map_url | safe: 'resourceUrl' "
                            width="100%" height="100%" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"></iframe>

                        <br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 443px;
                                width: 100%;
                            }
                        </style><a href="https://www.embedgooglemap.net"></a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 443px;
                                width: 100%;
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
    </section>



</div>