<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" style="margin-top: 5%;">
        <div class="inner-banner-image">
            <img src="assets/images/banner1.jpg">
        </div>
        <div class="banner-content" style="left:45%">
            <h1 class="text-white"><b>Contact</b></h1>
        </div>
    </div>





    <section class=" py-5" id="contact">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-md-5 offset-md-1 ">
                    <h6 class="fs-3 mb-1 text-primary">Get in Touch</h6>
                    <h1 class=" mb-2"><b>Contact Us</b></h1>
                    <p>We have a dedicated support center for all of your support needs. We usually get back to you
                        within
                        12-24 hours.</p>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-map-marker banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Our Address</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0"> P.O. Box No. 3168, Tripura Marg, 44600</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-phone banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Call Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0"> 01-5362027, 01-5369727, 01-5319227,
                                    01-5365927
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-envelope banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Email Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">care@bluecross.com.np</p>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-5 offset-md-1">

                    <div class="gmap_canvas">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.7629647073454!2d85.3151991!3d27.69372010000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fb6e054397de851!2sBlue%20Cross%20Hospital!5e0!3m2!1sen!2snp!4v1675407767251!5m2!1sen!2snp"
                            width="100%" height="100%" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"></iframe>

                        <br>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 443px;
                                width: 100%;
                            }
                        </style><a href="https://www.embedgooglemap.net"></a>
                        <style>
                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 443px;
                                width: 100%;
                            }
                        </style>
                    </div>

                </div>
            </div>
        </div>
    </section>



</div>