<div style="position: relative;overflow-x:hidden;">
    <div id="banner-main" style="height: 400px;">
        <div class="inner-banner-image">
            <img src="../../../assets/images/banner1.jpg">
        </div>
        <div class="banner-content">
            <h1 style="position: absolute;top:15%;left:45%;color: white;"><b>Contact</b></h1>
        </div>
    </div>





    <section class=" py-5" id="contact">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-sm-5 offset-1">
                    <h6 class="banner-title-top mb-1">Get in Touch</h6>
                    <h1 class=" mb-2"><b>Contact Us</b></h1>
                    <p>We have a dedicated support center for all of your support needs. We usually get back to you
                        within
                        12-24 hours.</p>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-map-marker banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Our Address</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">China Town , Kathmandu</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-phone banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Call Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">+(977) 234 4567</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-envelope banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Email Us</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">example@mail.com</p>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-1 ">
                            <span class="fa fa-life-ring banner-title-top mt-2" style="font-size: 20px;"></span>
                        </div>
                        <div class="col-sm">
                            <div class="row m-0">
                                <h5><b>Customer Support</b></h5>

                            </div>
                            <div class="row m-0">
                                <p style="font-size: 13px;" class="m-0">info@support.com</p>

                            </div>
                        </div>
                    </div>

                   
                </div>
                <div class="col-sm-5 offset-1" hidden>
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                        <div class="input-grids">
                            <input type="text" name="w3lName" id="w3lName" placeholder="Your Name*"
                                class="contact-input" required="" />
                            <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*"
                                class="contact-input" required="" />
                            <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*"
                                class="contact-input" required="" />
                            <input type="text" name="w3lWebsite" id="w3lWebsite" placeholder="Website URL*"
                                class="contact-input" required="" />
                        </div>
                        <div class="form-input">
                            <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your message here*"
                                required=""></textarea>
                        </div>
                        <div class="w3l-submit text-lg-right">
                            <button class="btn btn-style btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
    
</div>