:root {
  --primary-color: #1F3992;
  --primary-second-color: #0d1738;
  --secondary-color: white;
  --secondary-second-color:rgb(255, 235, 235);
  --box-color: rgb(244, 244, 244);
  --font-color: #666;
  --white-font-color: #fff;
  --bg-color: #fff;
  --heading-color: #252422;
  --white-heading-color: #fff;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #212D38;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, .05);
  --bg-grey: #F4F6F9;
  --footer-bg: #0f1113;
  --card-bg: #fff;
  --hover-color : #445fb7;
}

body,*{
  font-family: 'Open Sans', sans-serif;}

.no-disp {
  display: none;
  transition: 2s;
}

.top-header {
  top: 0;
  z-index: 10;
  position: relative;
  margin: 0;
  padding: 5px;
  background-color: var(--bg-color);
  width: 100%;
  height: auto;
  transition:all .3s ease-in;
  font-size: 14px;
}

.fixed-top .container {
  /* position: fixed;
  top: 35px; */
}

.header {
  width: 100vw;
  /* overflow: hidden; */
  top: 0;
  position: fixed;
  background-color: var(--primary-color);
  /* background: rgba(162, 162, 162, 0.7); */
  display: block;
  z-index: 1000;
}

.header header {
  position: relative;
  /* background: rgba(162, 162, 162, 0.3) ; */
  /* padding: 0px; */
  transition: all 0.4s ease-in-out 0s;
  /* height: 70px; */
  display: grid;
  align-items: center;
  box-shadow: none;
  z-index: 99;
}

.header .navbar {
  padding: 0;
}

.header .navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding:5px;
}

.header .navbar .navbar-brand span.sub-logo {
  color: var(--primary-color);
}

a.navbar-brand img {
  display: inline-block;
  height: 45px;
  vertical-align: center;
}

.header .navbar .navbar-brand span.fa {
  display: inline-block;
}

.header .navbar .navbar-brand:hover {
  opacity: 0.95;
}

.header .navbar .navbar-brand img {
  max-width: 300px;
  transition: all 0.5s ease;
}

.header .navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

.header .navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;

}

.header .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--secondary-color);
  opacity: 1;
}

.navbar .collapse.in {
  display: block !important;
}

.nav-link:hover {
  color: var(--bg-grey);
}

.btn.show {
  color: white;
}
#banner-main{
  position: relative;
}

.banner-main {
  padding-top: 80px;
  z-index: 0;
  position: relative;
  display: grid;
  align-items: center;
  background-size: cover;
  -ms-background-size: cover;
  /* background-image: linear-gradient(to right, rgb(3 15 39 / 69%), rgb(3 15 39 / 70%)), url('http://127.0.0.1:5500/assets/images/banner1.jpg'); */
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 710px;
}

.inner-banner-image {
  overflow: hidden;

  position: relative;
  background-size: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* mask-image: linear-gradient(to right, rgb(3 15 39 / 90%), rgb(3 15 39 / 90%));
  --webkit-mask-image: linear-gradient(to right, rgb(3 15 39 / 90%), rgb(3 15 39 / 90%)); */
}

.inner-banner-image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(3 15 39 / 69%), rgb(3 15 39 / 70%));

}

.navbar-nav .nav-link.active {
  color: unset;
}
.nav-link{
  cursor: pointer;
  color:unset;
}

.active {
  color: var(--white-font-color) !important;
  font-weight: 600 !important;
  /* border-bottom: 4px solid #e72327; */
  border-bottom: 5px solid var(--secondary-color);
  border-radius: 5px;
}

.inner-banner-image img {
  display: block;
  width: 100vw;
  max-height: 600px;
  /* height: 100vh; */
  object-fit: cover;
}

.banner-image {
  overflow: hidden;

  position: absolute;
  width: auto;
  height: auto;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  /* mask-image: linear-gradient(to right, rgb(3 15 39 / 90%), rgb(3 15 39 / 90%));
  --webkit-mask-image: linear-gradient(to right, rgb(3 15 39 / 90%), rgb(3 15 39 / 90%)); */
  clip-path: ellipse(80% 50% at 50% 50%) !important;
}

.banner-image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(3 15 39 / 50%), rgb(3 15 39 / 60%));

}

.banner-image img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.nav-header {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 18px;

  position: relative;
  color: #fff;
}

.banner-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.half-page-card {
  /* padding: 5px; */
  border-radius: 10px;
  /* box-shadow: 0 15px 60px 0 rgb(0 0 0 / 20%); */
  background-color: var(--box-color);
}

.half-page-card:hover {
  box-shadow: 0 30px 40px 0 rgb(0 0 0 / 20%);
}
.box-shadow {
  border-radius: 5px;
  border: 1px rgb(235, 231, 231) solid;
  box-shadow: rgba(17, 17, 26, 0.3) 0px 2px 5px;

  /* box-shadow: rgba(100, 100, 102, 0.1) -2px -2px 2px, rgba(100, 100, 102, 0.1) 2px 2px 2px; */
}

.banner-title-top {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--secondary-color);
  display: block;
}

.banner-title-center {
  font-size: 65px;
  line-height: 80px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.nav-fixed {
  top: 0;
  padding: 0px;
  background: var(--primary-color) !important;
  color: white !important;
  height: 5vh;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  transition: easy 1s;
}

/* .nav-fixed .nav-header {
  color: white !important;
}

.nav-fixed .active {
  border-bottom: var(--bg-color) 1px solid;
  color: white !important;
} */

.nav-fixed .navbar-brand {
  color: black !important;
}

.read-more {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 36px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius-full);
}

.read-more:hover {
  background-color: white;
  color: var(--primary-color);
}

.view-report {
  background: white;
  color: var(--primary-color);
  border: 2px solid #fff;
  padding: 10px 36px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius-full);
}
a{
  text-decoration: none !important;
}

.view-report:hover {
  background-color: transparent;
  color: #fff;
}

.banner-box-wrap {
  transition: all 0.5s ease 0s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  position: relative;
  height: 100%;
  padding: 0 10px 0 10px;
  background-color: transparent;
  perspective: 1000px;
  display: flex;

}

.banner-box-wrap:hover .icon {
  color: var(--bg-color);
  background-color: var(--primary-color);
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}

.banner-box-wrap-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.banner-box-wrap:hover .banner-box-wrap-inner {
  transform: rotateY(180deg);
}

.banner-box-wrap-front,
.banner-box-wrap-back {
  border-radius: 8px;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.banner-box-wrap-front {
  position: relative;
  height: auto;
  padding: 40px 40px;
  background-color: var(--primary-color);
}

.banner-box-wrap-back {

  position: absolute;
  bottom: 0;
  top: 0;
  padding: 40px 40px;
  background-color: var(--primary-color);
  transform: rotateY(180deg);
}
.banner-box-wrap-front p{
  font-size: 16px;
  margin: 0;
}

.icon {
  font-size: 30px;
  width: 70px;
  max-width: 70px !important;
  height: 70px;
  text-align: center;
  justify-content: center;
  color: var(--primary-color);
  background: var(--bg-grey);
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}



.bg-white {
  background-color: white !important;
}

.box-wrap .icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 80px;
}

.banner-box-wrap-theader {
  color: var(--white-font-color);
  font-size: 18px;
  line-height: 28px;
}

.white-text {
  color: var(--white-font-color) !important;
}

.info h4 a {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--white-heading-color);
  text-decoration: none;
}

.info:hover h4 a {
  color: var(--primary-color);
}

.home-services {
  position: absolute;
  bottom: -15%;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.read-more-second {
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 36px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius-full);
}

.read-more-second:hover {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

p {
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
}

.service-icon {
  background-color: var(--bg-color);
  color: var(--primary-color);
  text-align: center;
  width: 70px;
  height: 70px;
}

.font-color {
  background-color: var(--border-color-light);
}

.service-div:hover .icon {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
.service-div p{
  font-size: 16px;
}

.img-fluid {
  border-radius: 8px;
  height: auto;
}

.stats {
  font-size: 35px;
  height: 400px !important;
  position: relative;
  overflow: hidden;
}

.stats-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  /* opacity: 0.90; */
}

.stats-image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(3 15 39 / 59%), rgb(3 15 39 / 50%));

}

.stats-icon {
  font-size: 40px;
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.counter {
  color: var(--bg-color);
  margin-top: 15px;
}

.text-center h4 {
  color: var(--bg-color);
}

.main-footer {
  background-color: var(--primary-second-color) !important;
}

.white-color {
  color: var(--bg-color);
}

a {
  text-decoration: none;
}

.gray-color {
  color: var(--font-color);
}
.list-group-item{
  color: white !important;
  background-color: var(--primary-color) !important;
}

.bottom-footer {
  height:auto;
  padding: 15px 0 0 20px;
  border-top: 1px solid var(--primary-color);
}

.top-button {
  position: fixed;
  bottom: 50px;
  z-index: 10;
  right: 15px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid white;
}

.image-radius {
  border-radius: 10px;
}

.team-image {
  max-width: 300px !important;
  height: auto;
}

.image-div {
  padding: 0;
  border-radius: 8px;
  width: 100%;
  height: auto;
  transition: 0.5s ease;

}
.about-team-image{
  /* width: auto; */
  object-fit:fill;
  /* height: 250px; */

}

.image-div:hover {
  transform: translateY(-15px);
  transition: 0.5s ease;
}



.mdl-tabs__panel {
  display: none;
}

.vertical-mdl-tabs {
  margin-top: 30px;
}

.vertical-mdl-tabs .mdl-tabs__tab-bar {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 35px;
  height: inherit;
  border-bottom: none;
  border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
  background: rgba(158, 158, 158, 0.34);
  color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
  border-right: 3px solid #ED462F;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  content: inherit;
  height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
  padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
  text-align: left;
}

.text-center {
  text-align: center;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #E21549;
}

html,
body {
  height: 100%;
  font-family: 'Gotham Book', sans-serif !important;
}

body {
  margin: 0;
}

.formcontainer {
  width: 100%;
  margin-top: 1vh !important;
  position: relative !important;
  background-color: #eff7fd;
  border-radius: 10px 10px 10px 10px;
  height: 98% !important;
  margin-bottom: 1vh !important;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px #DCDCDC solid;
  overflow: overlay;
}

.mainViewToggle {
  margin-left: 15px;
  padding: 0;
  flex-grow: 100;
}

.main-page {
  width: 100%;
  z-index: 11;
  padding-right: 15px;
  border-radius: 5px;
  padding-top: 50px !important;
  height: 100vh;

}

.bottom-border {
  border-bottom: 0.5px gray solid;
}


.primary-text {
  color: var(--primary-color) !important;
}

.primary-text-hover {
  color: var(--primary-color) !important;
}

 .list-group-item:hover {
  background-color: var(--hover-color) !important;
}


.info:hover >div {
  color: var(--primary-second-color) !important;
}
.small{
  font-size: 15px !important;
}

.primary-bg {
  background-color: var(--primary-color);
}

.carousel-indicators {
  display: none;
}

.btn-group {
  position: relative !important;
}

.unilab-shape {
margin:10px;
  border-radius: 0 20% 0 20%;
  background-color: var(--primary-color);
    height: 450px;
    overflow: hidden;
}
.owl-item{
  margin: 0!important;
}

.unilab-shape img {
  width: 100%;
  height: 40%;
}

.unilab-shape p {
  text-overflow: ellipsis;
  font-size: 15px;
}
.about-text{
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.service-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
}
.service-read-more{
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding:8px;
}
.service-read-more:hover{
  color:var(--primary-color);
  background-color: white;
  
}
.owl-item{
  margin: 10px;
}
#features .active{
  border-bottom: none;
  font-weight: unset!important;
}

@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  .top-header {
    display: none;
  }

  .home-services {
    position: relative;
  }

  .banner-image {
    clip-path: none !important;
    background-size: cover;
  }

  .banner-image::after {
    height: auto;
  }

  .banner-image img {
    height: 60vh;
  }

  .home-services {
    bottom: -5%;
  }

  .container h3 {
    font-size: 35px !important;
    /* line-height: 80%; */
    margin-top: 10px;
  }

  .info h4 a {
    font-size: 22px !important;
  }

  .service-div .service-icon {
    width: 50px;
    height: 50px;
  }

  .icon .fa {
    font-size: 20px !important;
  }

  p {
    font-size: 16px !important;
  }
  .header{
    background-color: white;
  } 
  .active{
    color: black !important;
  }
  .nav-header{
    color: black;
  }
  .fixed-top .container{
    background-color: white;
  }
  .bottom-footer{
    padding: 0;
  }
  .bottom-footer p{
    font-size: 12px !important;
  }
  .main-footer a {
    font-size: 13px !important;
  }
  .main-footer h2{
    font-size: 20px!important;
  }
  .about-team-image{
    width: 100%;
    height: auto;
  
  }
  a.navbar-brand img{
    height: 23px;
  }
  .header .navbar .navbar-brand img{
    max-width: 150px;
  }
}@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
